{% extends "base.html" %}

{% block title %}My Blog{% endblock title %}

{% block content %}
<v-app>
  <v-main>
    <h1>{{ section.title }} </h1>

    <ul>
      <li><router-link to="/blog/">index</router-link></li>
      <li><router-link to="/blog/first-post">firstpost</router-link></li>
    </ul>

    <router-view></router-view>

    {% for page in section.pages %}
    <post-list-component title="{{ page.title }}"
                         content="{{ page.content | markdown }}"
                         link="{{ page.permalink | safe }}">
    </post-list-component>
    {% endfor %}

  </v-main>
</v-app>

{% endblock content %}

{% block js %}
import App from "{{ get_url(path="js/post-route.js") }}"

const { createApp } = Vue
const { createVuetify } = Vuetify

const vuetify = createVuetify()
const app = createApp(App)

app.use(vuetify).mount('#app')
{% endblock js %}
