{% extends "base.html" %}
{% block title %}My Blog{% endblock title %}

{% block content %}
<h1>{{ section.title }} </h1>

{% for page in section.pages %}
<v-card title="{{ page.title }}" text="...">
  <v-card-actions>
    <v-btn>Click me</v-btn>
  </v-card-actions>
</v-card>
{% endfor %}

<ul>
    {% for page in section.pages %}

      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
        {% endfor %}
</ul>
{% set section = get_section(path="blog/_index.md", metadata_only=true) %}
{{ section.pages }}
{% endblock content %}
